body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.MuiButton-containedPrimary{
  background-color: #da9142 !important;
}

.MuiButton-containedSecondary {
  background-color: #8e8e8e !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
  border-color: rgb(196 152 113) !important;
}

.MuiInputLabel-root.Mui-focused{
  color: rgb(196 152 113) !important;;
}

.yellow-btn{
  background-color: #fbe04d !important;
}

.yellow-btn .MuiButton-label{
  color: #404040 !important;
}



.modal-popup{
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: .3s all;
}

.modal-popup.open{
  z-index: 1000;
  visibility: visible;
  opacity: 1;
}

.modal-popup__overlay{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.modal-popup__window{
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 0 30px;

  max-width: 700px;
  width: 100%;
}

.modal-popup__content{
  width: 100%;
}

.modal-popup__header{
  padding-top: 30px;
}

.modal-popup__header > span{
  color: #3748da;
  color: #da9142;
  font-size: 18px;
  font-weight: 600;
}

.modal-popup__body{
  padding: 20px 0;
}

.modal-popup__footer{
  padding: 15px 0 20px;
}

.modal-popup__row{

}

.modal-popup__input{
  position: relative;
}

.modal-popup__input--time{
  display: flex !important;
  margin-top: 16px !important;
  margin-bottom: 8px !important;
}

.modal-popup__btn{
  display: flex;
  justify-content: flex-end;
}

.modal-popup__btn-i{
  margin-left: 20px !important;
}


