
.products-table{
  padding: 20px;
  background: white;
}

.products-table-row{
  height: 50px;
}

.products-table-head th{
  font-weight: bold;
  height: 40px;
}

.products__btn{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  background: #eee;
  padding: 15px;
  border-radius: 4px;

  box-shadow: 2px 2px 6px 0px #0000000d;
  background: #fff;
}

.products__btn button:first-child{
  margin-right: 20px;
}
